/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal,
);

$error-color: red;
$text-color: rgb(34, 34, 34);
$link-hover: blue;

input.error,
select.error {
    border: 1px solid $error-color;
}

span.error-message {
    color: $error-color;
    font-size: 14px;
}

.App {

    .redirect-link {
        text-decoration: underline;
        color: inherit;

        &:hover {
            color: $link-hover;
        }
    }

    .container-header {
        padding: 15px 0;
    }

    .login-form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        .login-form {
            width: 420px;
            box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
            padding-top: 30px;
            padding-bottom: 20px;
            border-radius: 8px;
            background-color: white;
        }

        .login-form-content {
            padding-left: 12%;
            padding-right: 12%;
        }

        .login-form-title {
            text-align: center;
            margin-bottom: 1em;
            font-size: 24px;
            color: $text-color;
            font-weight: 800;
        }

        label {
            font-size: 14px;
            font-weight: 600;
            color: $text-color;
        }
    }

    .main-container {
        height: calc(100vh - 56px);

        .welcome-text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            height: calc(100vh - 56px);
        }

        .action-td {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .home-buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;
            font-size: 14px;

            a.active-link {
                text-decoration: none;
                padding: 10px 5px;
            }
        }
    }
}